<div class="sorting-options">
  <button (click)="sortProducts('price')">Sort by Price</button>
  <button (click)="sortProducts('name')">Sort by Name</button>
  <button (click)="sortProducts('rating')">Sort by Rating</button>
</div>

<div class="products">
  <div class="product" *ngFor="let product of sortedProducts">
    <h2>{{ product.title }}</h2>
    <span class="price">{{ product.price }}</span>
    <img [src]="product.image" class="product-image">
    <span class="rating">Rating:{{ product.rating.rate }}</span>
  </div>
</div>

<router-outlet></router-outlet>
